# This is a basic workflow to help you get started with Actions

name: hello_world

on:
  push:
    branches: [ "main" ]
 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Run a one-line script
        run: echo Hello World, my name is Jonathanbarmousa!